* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.title , h2{
    text-align: center;
}

#config {
    border: 1px #ccc solid;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#config * {
    text-align: center;
    margin-bottom: 5px;
}

[type="number"] {
    width: 50px;
}

#send {
    width: 100px;
    height: 25px;
    margin: auto;
}

main#tables {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

article.table {
    width: 120px;
    margin: 10px;
}

.t-title {
    text-align: center;
}

.multiplication {
    border-top: 1px white solid;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.t-index {
    padding: 10px;
}
.t-index:last-child {
    padding-bottom: 10px;
}