* {
    box-sizing: border-box;
}

.tables {
    display: flex;
}

section.table {
    width: 100px;
    background-color: aquamarine;
    padding: 10px;
    margin: 10px;
}

.t-title {
    text-align: center;
}

.multiplication {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}